<div class="nav">
  <div class="p-grid">
    <div class="p-col-12 p-md-8 p-lg-8">
      <div class="aa">
        <img (click)="back()" class="icon refresh" src="assets/icons/left-arrow.png">
        <img (click)="refresh()" class="icon refresh" src="assets/icons/refresh.png">
        <div class="path">{{ currentPath }}</div>
      </div>
    </div>
    <div class="p-col-12 p-md-4 p-mg-4">
      <span class="search_form ui-float-label">
        <img (click)="refresh()" class="icon refresh" src="assets/icons/search.png">
        <input class="input-search" (keyup)="setSearch()" [(ngModel)]="searchByChar" id="float-input" type="text" size="30" pInputText>
        <label for="float-input">Search by name</label>
      </span>
    </div>
  </div>
  <div style="margin-top: 10px;" class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-3">
      <p-menu #menu [popup]="true" [model]="items"></p-menu>
        <button type="button" style="background-color: #40424c; color: #ffffff; border: 1px solid #ffffff;" pButton icon="pi pi-file" label="File" (click)="menu.toggle($event)"></button>
        <button type="button" style="background-color: #40424c; color: #ffffff; border: 1px solid #ffffff;" pButton icon="pi pi-plus" label="New window" (click)="newWindow()"></button>    
    </div>
    <div class="p-col-12 p-lg-offset-5 p-md-12 p-lg-4 vtop-mob">
      <span class="label">sort by</span> <p-selectButton (onChange)="setSearch()" [options]="types" [(ngModel)]="selectedType"></p-selectButton>&nbsp;
      <span class="label">change view</span>
      <span class="pointer icon_view" *ngIf="details" (click)="changeView()"><i class="pi pi-table"></i></span>
      <span class="pointer icon_view" *ngIf="!details" (click)="changeView()"><i class="pi pi-list"></i></span>
    </div>
    
  </div>
  
</div>

<div class="container">
  <div class="p-grid">
    <div *ngIf="delete" class="p-col p-col-align-center">
      <button [disabled]="listFiles.length == 0" (click)="deleteFiles()" pButton type="button" label="Supprimer" class="ui-button-rounded ui-button-danger"></button>
      <button (click)="deleteView()" pButton type="button" label="Annuler" class="ui-button-rounded ui-button-secondary"></button>
    </div>
  </div>
</div>

<!-- List element view -->
<div *ngIf="files && !details" class="p-grid p-align-center center">
  <div *ngFor="let file of files" class="p-col-6 p-md-3 p-lg-3 p-col-align-center">
    <div class="file pointer">
      <img pTooltip="{{ file.created | date:'short' }}" *ngIf="file.type == 'file'" (click)="openFile(file.identifier, file.name)" class="icon" src="assets/icons/file.png">
      <img pTooltip="{{ file.created | date:'short' }}" *ngIf="file.type == 'directory'" (click)="changeDir(file.name)" class="icon" src="assets/icons/folder.png">
      <br>
      {{ (file.name.length > 20) ? (file.name | slice:0:20) + '...' : file.name }}
      <br>
      <p-checkbox *ngIf="delete && file.type == 'file'" name="groupname" value="{{ file.identifier }}" [(ngModel)]="listFiles"></p-checkbox>
      <img class="icon refresh" *ngIf="btnRename && file.type == 'file'" (click)="dialogRename(file.name)" src="assets/icons/edit.png">
      <img class="icon refresh" *ngIf="btnMove && file.type == 'file'" (click)="moveDialog(file.name)" src="assets/icons/folder.png">
    </div>
  </div>
</div>

<!-- List with details View -->
<div *ngIf="files && details" class="p-grid p-align-center center">
  <div class="p-col-12 p-col-align-center">
    <p-table [value]="files">
      <ng-template pTemplate="header">
        <tr>
          <th>name</th>
          <th>type</th>
          <th>size</th>
          <th>created</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-file>
        <tr (click)="file.type == 'directory' ? changeDir(file.name) : ''" class="pointer">
          <td>
            <p-checkbox *ngIf="delete && file.type == 'file'" name="groupname" value="{{ file.identifier }}" [(ngModel)]="listFiles"></p-checkbox>
            <img class="icon refresh" *ngIf="btnRename && file.type == 'file'" (click)="dialogRename(file.name)" src="assets/icons/edit.png">
            <img class="icon refresh" *ngIf="btnMove && file.type == 'file'" (click)="moveDialog(file.name)" src="assets/icons/folder.png">
            {{file.name}}
          </td>
          <td>{{file.type}}</td>
          <td>{{file.size}}</td>
          <td>{{file.created | date:'short'}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>


<!-- If no files found display this msg -->
<div class="center" *ngIf="files.length == 0">
  <h2>No files/folders found</h2>
</div>

<!-- Toast Message -->
<p-toast position="top-left"></p-toast>

<!-- Modal for create new file -->
<p-dialog header="Create new file" [(visible)]="displayCreateFile" styleClass="dialog-newfile">
  <span style="margin: 20px;" class="ui-float-label">
    <input [(ngModel)]="filename" id="float-input" type="text" size="30" pInputText>
    <label for="float-input">filename.xx</label>
  </span>
  <p-footer>
    <button type="button" pButton icon="pi pi-plus" label="Créer" (click)="createFile()"></button>
  </p-footer>
</p-dialog>

<!-- Modal for rename file -->
<p-dialog header="Rename file" [(visible)]="displayRenameModal" styleClass="dialog-newfile">
  <span style="margin: 20px;" class="ui-float-label">
    <input [(ngModel)]="filename" id="float-input" type="text" size="30" pInputText>
    <label for="float-input">filename.xx</label>
  </span>
  <p-footer>
    <button type="button" pButton icon="pi pi-pencil" label="Rename" (click)="renameFile()"></button>
  </p-footer>
</p-dialog>

<!-- Modal for move file -->
<p-dialog header="Move file to another folder" [(visible)]="displayMoveModal" styleClass="dialog-newfile">
  <p-dropdown [options]="listFolder" [(ngModel)]="foldername" placeholder="Select a folder" optionLabel="name" [showClear]="true"></p-dropdown>
  <p-footer>
    <button type="button" pButton icon="pi pi-save" label="Move" (click)="moveFile()"></button>
  </p-footer>
</p-dialog>



<!-- Modal open file -->
<p-dialog header="Open File" [(visible)]="statOpenFile" styleClass="dialog-newfile">
  <div *ngIf="!imgSrc">
    {{ contentTxt }}
  </div>
  <div *ngIf="imgSrc">
    <img width="250px" [src]="imgSrc">
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-save" label="Saved"></button>
  </p-footer>
</p-dialog>