<div class="nav">
  <div class="p-grid">
    <div class="p-col-12 p-md-3 p-lg-3">
      <button (click)="back()" style="background-color: #484e53; border: 1px solid #ffffff;" pButton type="button"
        label="Previous"></button>
<p-menu #menu [popup]="true" [model]="items"></p-menu>
<button type="button" style="background-color: #40424c; color: #ffffff; border: 1px solid #ffffff;" pButton icon="pi pi-file" label="File" (click)="menu.toggle($event)"></button>
<button type="button" style="background-color: #40424c; color: #ffffff; border: 1px solid #ffffff;" pButton icon="pi pi-plus" label="New window" (click)="newWindow()"></button>    
</div>
    <div class="p-col-12 p-md-9 p-lg-9">
      <div class="path">{{ currentPath }}</div>
    </div>
  </div>
  <div class="p-grid center sortby">
    <div _ngcontent-uvn-c50="" class="p-col-12">
      <h3>Search by criteria</h3>
  </div>
    <div class="p-col">
      <div>view</div>
      <span class="pointer" *ngIf="details" (click)="changeView()"><i class="pi pi-table"></i></span>
      <span class="pointer" *ngIf="!details" (click)="changeView()"><i class="pi pi-list"></i></span>
    </div>
    <div class="p-col">
      <div class="label">name</div>
      <p-inputSwitch (onChange)="setSearch()" [(ngModel)]="sortByName"></p-inputSwitch>
    </div>
    <div class="p-col">
      <div class="label">size</div>
      <p-inputSwitch (onChange)="setSearch()" [(ngModel)]="sortBySize"></p-inputSwitch>
    </div>
    <div class="p-col">
      <div class="label">created date</div>
      <p-inputSwitch (onChange)="setSearch()" [(ngModel)]="sortByCreated"></p-inputSwitch>
    </div>
  </div>
</div>

<div class="container">
  <div class="p-grid">
    <div *ngIf="delete" class="p-col">
      <button [disabled]="listFiles.length == 0" (click)="deleteFiles()" pButton type="button" label="Supprimer" class="ui-button-rounded ui-button-danger"></button>
      <button (click)="deleteView()" pButton type="button" label="Annuler" class="ui-button-rounded ui-button-secondary"></button>
    </div>
    <div class="p-col p-col-align-center">
      <span class="ui-float-label">
        <input (keyup)="setSearch()" [(ngModel)]="searchByChar" id="float-input" type="text" size="30" pInputText>
        <label for="float-input">Search by name</label>
      </span>
    </div>
  </div>
</div>

<!-- List element view -->
<div *ngIf="files && !details" class="p-grid p-align-center center">
  <div *ngFor="let file of files" class="p-col-6 p-md-3 p-lg-3 p-col-align-center">
    <div class="file pointer">
      <i pTooltip="{{ file.created }}" *ngIf="file.type == 'file'" class="pi pi-file-o"></i>
      <i pTooltip="{{ file.created }}" *ngIf="file.type == 'directory'" (click)="changeDir(file.name)"
        class="pi pi-folder"></i><br>
      {{ file.name }}
      <br>
      <p-checkbox *ngIf="delete && file.type == 'file'" name="groupname" value="{{ file.identifier }}" [(ngModel)]="listFiles"></p-checkbox>
      <i *ngIf="btnRename && file.type == 'file'" (click)="dialogRename()" class="icon-perso pi pi-pencil"></i>
    </div>
  </div>
</div>

<!-- List with details View -->
<div *ngIf="files && details" class="p-grid p-align-center center">
  <div class="p-col-12 p-col-align-center">
    <p-table [value]="files">
      <ng-template pTemplate="header">
        <tr>
          <th>name</th>
          <th>type</th>
          <th>size</th>
          <th>created</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-file>
        <tr (click)="file.type == 'directory' ? changeDir(file.name) : ''" class="pointer">
          <td>
            <p-checkbox *ngIf="delete && file.type == 'file'" name="groupname" value="{{ file.identifier }}" [(ngModel)]="listFiles"></p-checkbox>
            <i *ngIf="btnRename && file.type == 'file'" (click)="dialogRename()" class="icon-perso pi pi-pencil"></i>
            {{file.name}}
          </td>
          <td>{{file.type}}</td>
          <td>{{file.size}}</td>
          <td>{{file.created | date:'short'}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>


<!-- If no files found display this msg -->
<div class="center" *ngIf="files.length == 0">
  <h2>No files/folders found</h2>
</div>

<!-- Toast Message -->
<p-toast position="top-left"></p-toast>

<!-- Modal for create new file -->
<p-dialog header="Create new file" [(visible)]="displayCreateFile" styleClass="dialog-newfile">
  <span style="margin: 20px;" class="ui-float-label">
    <input [(ngModel)]="filename" id="float-input" type="text" size="30" pInputText>
    <label for="float-input">filename.xx</label>
  </span>
  <p-footer>
    <button type="button" pButton icon="pi pi-plus" label="Créer" (click)="createFile()"></button>
  </p-footer>
</p-dialog>

<!-- Modal for rename file -->
<p-dialog header="Rename file" [(visible)]="displayRenameModal" styleClass="dialog-newfile">
  <span style="margin: 20px;" class="ui-float-label">
    <input [(ngModel)]="filename" id="float-input" type="text" size="30" pInputText>
    <label for="float-input">filename.xx</label>
  </span>
  <p-footer>
    <button type="button" pButton icon="pi pi-pencil" label="Rename" (click)="renameFile()"></button>
  </p-footer>
</p-dialog>